<h1>Hello {{this.fullName}}</h1>

{{input type="text" value=this.first placeholder="First Name"}}
{{input type="text" value=this.last placeholder="Last Name"}}

<button onclick={{action this.clearName}}>clear name</button>